# PostgreSQL Connection
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=vault_user
POSTGRES_PASSWORD=vault123
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=nimit8222
POSTGRES_POOL_MIN=2
POSTGRES_POOL_MAX=10

# immudb Ledger Connection
IMMUDB_HOST=127.0.0.1
IMMUDB_PORT=3322
IMMUDB_USER=immudb
IMMUDB_PASSWORD=immudb
IMMUDB_DATABASE=defaultdb

# Web API / Dashboard
APP_HOST=0.0.0.0
APP_PORT=8080
DEBUG=False
